.productCardInfoContainer {
  display: flex;
  width: fit-content;
  padding-top: 50px;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: unset;
  }
  .title {
      font-weight: bold;
      font-size: 20px;
  }
  .productCardInfo {
    display: flex;
    @media screen and (max-width: 1024px) {
        flex-direction: column;
        padding: 20px;
        justify-content: center;
    align-items: center;
      }
    img {
      width: 300px;
      height: 400px;
      margin-right: 2rem;
    }
    .description {
      max-width: 400px;
    }
  }
  .addCart {
    background: #fff;
    margin-left: 20px;
    .quantityButton {
      display: flex;
      margin-top: 22px;
      align-items: center;
      & span {
        margin-right: 10px;
      }
    }
    .btnAddCart {
      margin-top: 20px;
      width: 100%;
    }
  }
}
